.card {
  margin: 20px;

  &__images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    height: 220px;
    background-color: $main-powderblue;
    background-repeat: no-repeat;
    background-position: 10px 20px;
    background-size: 90%;
    border-radius: 30px;
    border: 1px solid #2a344b;
  }

  &__image {
    margin: 20 auto;
    border-radius: 15px;
    width: 90%;
  }

  &__button {
    
    @extend %input;
    margin: 0 auto;
    width: 200px;
    height: 36px;
    background-color: $bg-main;
    border-radius: 50px;
    margin-bottom: 17px;
    transition-duration: $transition-duration;
    border: 1px solid transparent;

    &:hover {
      cursor: pointer;
      background-color: $main-blue;
      box-shadow: $shadow-button;
      color: $bg-main;
      border: 1px solid $main-nightblue;
    }
  }
}
