.cities {
  background-color: $bg-main;

  &__title {
    margin: 0 auto;

    @extend %h1;

    padding: 70px 40px 35px;
    max-width: 670px;
    text-align: center;
  }

  &__box-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
