.dropdown {
  position: relative;
  margin: 0 auto;
  top: 85px;
  width: 95%;

  @include onDesktop {
    top: 110px;
    width: 600px;
    margin: 0 auto;
  }

  &__list {
    position: absolute;
    width: 100%;
    background-color: $bg-main;
    border-radius: 30px;
    padding: 25px 10px;

    @include onMobil {
      width: 100%;
      margin: 0 auto;
    }

    @include onDesktop {
      width: 600px;
    }
  }

  &__item,
  &__item-night {
    margin: 0 auto 10px;

    @extend %input;

    color: $main-black;
    padding-left: 20px;
    padding-top: 8px;
    border-radius: 30px;
    transition-duration: $transition-duration;
    width: 100%;
    height: 38px;

    &:hover {
      background-color: $main-blue;
      color: $bg-main;
    }
  }

  &__item-night:hover {
    background-color: $main-nightblue;
    color: $bg-main;
  }
}
