.header,
.header-night {
  background-image: url("../images/day.png");
  background-position: center;
  width: 100%;
  height: 600px;

  &-night {
    background-image: url("../images/night.png");
  }

  @include onMobil {
    height: 426px;
  }

  &__label {
    position: relative;
    display: flex;
    padding: 30px 20px 50px;
    width: 100%;
    height: 40px;
    margin: 0 auto 20px;

    @include onDesktop {
      max-width: 600px;
      height: 60px;
      padding: 30px 0 50px;
      margin-bottom: 50px;
    }
  }

  &__search {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 30px;
    background-color: $bg-main;

    @extend %input;

    color: $main-black;
    padding-left: 10px;
    transition: $transition-duration;
    margin: 0 auto 20px;

    @include onDesktop {
      max-width: 600px;
      height: 60px;
      padding-left: 20px;
    }

    &::placeholder {
      color: $main-grey;
    }

    &:hover {
      border-color: $main-grey;
    }

    &:focus {
      border-color: $main-blue;
      opacity: 1;
      outline: none;
    }
  }

  &__button {
    position: absolute;
    right: 25px;
    bottom: 14px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: $main-blue;
    background-image: url("../images/search.svg");
    background-position: center;
    background-repeat: no-repeat;
    transition: $transition-duration;

    @include onDesktop {
      right: 10px;
      bottom: 0;
      width: 40px;
      height: 40px;
    }

    &:hover {
      cursor: pointer;
      box-shadow: $search-hover;
    }
  }

  &__info-panel {
    box-sizing: border-box;
    border-radius: 30px;
    background-color: $bg-infopanel;
    margin: 0 auto;
    width: 93%;
    height: 455px;
    border: 1px solid transparent;

    @include onMobil {
      height: 300px;
    }

    @include onDesktop {
      width: 600px;
      height: 236px;
    }
  }

  &__box-icon-text {
    @include onMobil {
      display: flex;
    }
  }

  &__icons {
    display: block;
    width: 200px;
    height: 200px;
    margin: 10px auto;
    background-image: url("https://via.placeholder.com/100");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;

    @include onMobil {
      width: 100px;
      height: 100px;
      margin: 20px 0 0 20px;
    }
  }

  &__text-info {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100px;
    margin: 20px 20px 25px;

    @include onMobil {
      width: 100%;
    }
  }

  &__current-temp,
  &__current-place,
  &__min-temp,
  &__max-temp {
    @extend %h2;

    color: $main-black;
    margin-bottom: 10px;
  }

  &__short-kind {
    @extend %input;

    color: $main-black;
    margin-bottom: 10px;
  }

  &__long-kind,
  &__current-date,
  &__min-name,
  &__max-name {
    @extend %input;

    color: $main-grey;
  }

  &__current-date {
    text-align: right;
  }

  &__hor-divider {
    margin: 0 auto 20px;
    width: 100%;
    height: 1px;
    background-color: $main-powderblue;
  }

  &__ver-divider {
    width: 1px;
    height: 56px;
    background-color: $main-powderblue;
  }

  &__box-min-max {
    display: flex;
    justify-content: space-around;
  }

  &__box-min,
  &__box-max {
    margin: 0 auto;
  }

  &__min-name,
  &__max-name {
    text-align: center;
    margin-bottom: 5px;
  }
}
