$bg-main: #fff;
$main-blue: #90caf9;
$main-powderblue: #bfdce8;
$main-black: #212121;
$main-grey: #9e9e9e;
$main-skyblue: #89bfe5;
$main-nightblue: #2a344b;
$light-grey: #fafafa;
$bg-infopanel: rgba(255, 255, 255, 0.85);
$search-hover: inset 0px 0px 16px 4px rgba(71,117,245,1);
$color-text-footer: #000;
$shadow-button: 0px 0px 51px 0px rgba(245,240,245,1);

$transition-duration: .5s;

